.container {
    background-color: #ff0000;
}

nav {
    max-width: 1200px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

body {
    margin: 0;
    background-color: azure;
}

.links {
    position: relative;
    display: flex;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
}

li {
    list-style-type: none;
    display: flex;
}

a {
    color: #000;
    text-decoration: none;
    padding: 1em;
    font-family: inherit;
    font-weight: bold;
    white-space: nowrap;
}

.Main {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
}

a:hover {
    color: white;
    transition: color 500ms;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropbtn {
    background-color: red;
    font-size: 20px;
    border: none;
    font-family: inherit;
    font-weight: bold;
    padding: 1em;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: darkgray;
    transition: color 500ms;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #ffffff;
}

table, th, td {
    border: 1px solid black;
    padding: 4px 2em 4px 2em;
    border-collapse: collapse;
}

table {
    display: inline-block;
    padding: 0;
    border: 0;
    position: absolute;
}

.logo {
    font-size: 35px;
    margin: 0;
    padding-top: 10px;
    padding-right: 1em;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin: 8px 0;
}

input[type=submit] {
    padding: 1em 3em 1em 3em;
    background-color: red;
    font-weight: bolder;
}

form {
    margin-bottom: 3em;
}

.bolder {
    font-weight: bolder;
    letter-spacing: 0.8px;
    max-width: 75ch;
}

.gamef {
    max-width: 500px;
    max-height: 500px;
    display: inline-block;
    padding-left: 20em;
}

.fitnessf {
    max-width: 500px;
    max-height: 500px;
    display: inline-block;
    padding-left: 20em;
}

.diplomaf {
    max-width: 400px;
}

p{
    letter-spacing: 0.8px;
    max-width: 75ch;
}

label{
    letter-spacing: 0.8px;
    max-width: 75ch;
}